extends layout

block content
  h1= title
  p <b> #{title} </b> is an application made by <b>Team La BeBe</b> for <b>getir-BiTaksi Hackathon 2017</b>.
    </br>This is a backend service made for our Android application.
    </br> <b>You can check out our github repositories</b>:
    </br>-  Backend Service: https://github.com/olciniz/bucketapp-getirbitaksihackathon-backend
    </br>-  Android Application: https://github.com/erolgizlice/Bucketapp-getirbitaksihackathon-android
    </br>-  iOS Application: https://github.com/hpeksen/bucketapp-getirbitaksihackathon-ios
    </br> <b>Team Members:</b> Olcay Karaduman, Erol Gizlice, Hakan Pekşen, Melih Karaduman
